/* Général */ 

:root {
    --color-j1: rgb(32, 119, 219);
    --color-j2: rgb(221, 49, 49);
    --color-j3: rgb(51, 196, 87);
    --color-j4: rgb(229, 240, 81);
}

body {
    background-color: rgb(23, 128, 37);
    background-image: url(../img/fond-poker.jpg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* body > div {
    margin: 15px 0;
} */

header, footer {
    background-color: brown;
    font-family: 'Carter One', cursive;
    color : white;
    padding: 15px;
}

header {
    border-bottom: solid 5px white;
}

footer {
    border-top: solid 5px white;
}

h1 {
    display: inline-block;
}

.container {
    width: 90vw;
    margin : auto;
}

.hidden {
    display: none;
}

/* Cartes Deck */ 

.deck-container span{
    display: inline-block;
    padding: 5px;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    font-weight: 700;
}

    .deck-container span:nth-child(even) {
        background-color: red;
    }

    .deck-container span:nth-child(odd) {
        background-color: black;
    }

    .deck-container span.zero {
        background-color: rgb(31, 126, 13);
    }


/* Flex */

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cartes CSS */

.cartes > span{
    display: inline-block;
    border: solid 3px rgb(145, 198, 231);
    border-radius: 5px;
    padding: 2%;
    height: calc(10vw);
    width: calc(7vw);
    color: rgb(0, 0, 0);
    font-size: calc(1px + 2vw);
    text-align: center;
    font-weight: 700;
    margin: 3px;
}

    .cartes > span:nth-child(even) {
        background-color: rgb(218, 241, 255);
    }

    .cartes > span:nth-child(odd) {
        background-color: rgb(249, 253, 255);
    }    



.cartes span.coeur i {
    color: rgb(187, 14, 14);
}

.cartes span.carreau i {
    color: rgb(204, 169, 13);
}

.cartes span.pique i {
    color: rgb(4, 110, 172);
}

.cartes span.trefle i {
    color: rgb(13, 175, 34);
}

.cartes > span > span {
    font-size: 10px;
    color: rgb(81, 141, 179);

}

/* Containers */

.cartes-communes {
    margin: 5vw 3vw;
    padding: 2vw;
    border: solid 2px white;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 1vw);
}

    .cartes-communes > div {

        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
        font-weight: 700;
        color : white;

    }

.mains-container {
    margin-bottom: 20px;

}
    .mains-container > div > div {

        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
        font-weight: 700;
    }

    .mains-container > div:nth-child(1) > div {
        color : var(--color-j1)
    }

    .mains-container > div:nth-child(2) > div {
        color : var(--color-j2)
    }

    .mains-container > div:nth-child(3) > div {
        color : var(--color-j3)
    }

    .mains-container > div:nth-child(4) > div {
        color : var(--color-j4)
    }

.resultat-container {
    height: 100px;
}

/* Scores */

.score-container > div {
    font-weight: 700;
    padding: 15px;
    border: 3px solid rgba(255, 255, 255, 0.555);
    border-radius: 3px;
    color: white;
    text-shadow: black 1px 1px 2px ;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

    .score-container > div > span {
        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
    }

    .score-container > div:nth-child(1) {
        background-color: var(--color-j1);
    }
    .score-container > div:nth-child(2) {
        background-color: var(--color-j2);
    }
    .score-container > div:nth-child(3) {
        background-color: var(--color-j3);
    }
    .score-container > div:nth-child(4) {
        background-color: var(--color-j4);
    }

    .resultat-container > div {
        font-weight: 700;
        padding: 15px;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
    }

    /* ---------------------- UI ---------------------- */

    #section-turns {
        display: flex;
        color: white;
        align-items: flex-start;
        text-align: center;
        background-color: darkslategray;
        position: relative;
        z-index: 1;
    }

    #section-turns > * {
        flex: 1 1 50%;
        padding: 2vh;
        font-weight: 700;
        white-space: nowrap;
    }

        #section-turns #div-timer-container {
            flex : 0 0;
            position: relative;
            z-index: 1;
            flex-basis: 55px;
        }

            #section-turns #div-timer {
                font-size: calc(4vh + 9px);
                border-radius: 0 0 5px 5px;
                background-color: rgb(19, 36, 36);
                position: absolute;
                z-index: 1;
                width: 100%;
                height: calc(5vh + 24px);
                padding-top: 5px;
                top: 0;
                left: 0;
            }

            #btn-burger {
                background-color: brown;
                border: 3px solid white;
                border-radius: 3px;
                padding: 2px;
                /* flex: 0 0 33px; */
                height: 33px;
                width: 33px;
                align-self: center;
                margin: 5px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                z-index: 1;
                right: 0;
                top: 0;
            }

             #btn-burger span {
                background-color: white;
                padding: 1.5px;
                margin: 1.5px 3px;
                z-index: 1;
                display: block;
                transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            }
                /* 1ère barre */
                #btn-burger span:nth-child(1) {
                    transform-origin: 3px 50%;
                }
        
                    /* Barre du burger lorsqu'il est en mode "croix" */
                    #btn-burger.close span:nth-child(1) {
                        transform: rotateZ( 1125deg ) translate( 3.5px, 0 );
                    }
        
                /* 2ème barre */
                #btn-burger.close span:nth-child(2) {
                    transform: rotateY( 90deg );
                }
        
                /* 3ème barre */
                #btn-burger span:nth-child(3) {
                    transform-origin: 3px 50%;
                }
        
                #btn-burger.close span:nth-child(3) {
                        transform: rotateZ( -1125deg ) translate( 3.5px, 0 );
                    }

        #btn-burger-menu {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 35px;
            padding: 5px;
        }

        #btn-burger-menu li {
            padding: 5px 10px;
            background-color: brown;
            border: 1px solid white;
            font-weight: 700;
            color: white;
            margin: 5px 0;
            white-space: nowrap;
            font-size: 2vw;
        }

         #btn-burger-menu li:hover {
            background-color: rgb(209, 88, 88);
         }
        
        
    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #section-mainboard {
        flex-grow: 1;
        display: flex;
    }

        #div-playernames-left {
            flex: 0 1 100px;
            background-color: coral;
            margin-right: 4vw;
            padding-bottom: 40px;
        }

        #div-playernames-left > div {
                background-color: rgb(19, 36, 36);
                padding: 5px;
                transform: translateX(15%);
                margin: 15px 0;
                border-radius: 5px;
        }

            #div-playernames-left #div-playerlist ul {
                max-height: 121px;
                overflow: auto;
            }
            
            #div-playernames-left #div-playerlist li {
                background-color: brown;
                border: 1px solid white;
                font-weight: 700;
                padding: 5px;
                color: white;
                margin: 5px 0;
                white-space: nowrap;
                font-size: 2vw;
            
            }

            #div-playerlist #btn-playerlist {
                margin-left: auto;
            }


        #div-board {
            flex-grow: 1;
            padding-bottom: 25px;
        }

        #div-board > div{
            position: relative;
            z-index: 0;
        }

        #div-pot {
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: calc(-25px - 1vw);
        }

    #section-commoninfo {
        background-color: darkslategray;
        display: flex;
    }

    #section-commoninfo > * {
        flex : 1 1 50%;
        text-align: center;
        padding: 10px;
    }

    #div-chatarea {
        height: 30px;
        width: 100%;
        padding: 10px;
        background-color: rgb(19, 36, 36);  
    }

        #div-btn-container-chat {
            display: flex;
        }

            #div-btn-container-chat button {
                background-color: brown;
                border: 1px solid white;
                min-width: 20px;
                height: calc(1vw + 14px);;
                color: white;
                margin-bottom: 5px;
                margin-right: 5px;
                width: 6vw;
                overflow: hidden;
            }

            #div-btn-container-chat button:hover {
                background-color: rgb(209, 88, 88);
            }

            #div-btn-container-chat button:hover i{
                font-size: 1.2em;
            }


            #div-btn-container-chat .resize{
                margin-left: auto;  
                margin-right: 0; 
                width: auto;
            }

        #div-chat #div-chatarea {
            background-color: white;
            height: auto;
            font-size: 2vw;
            padding: 5px;
        }

    #section-user {
        background-color: darkslategray;
        display: flex;
        justify-content: space-around;
        height: 25vh;
        padding: 0 5vw;
    }

        #section-user #div-useractions{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 60vw;
        } 

        #section-user #bet-buttons-container{
            display: flex;
            padding: 0 10px;
            /* justify-content: center; */
            width: 100%;
            transform: translateY(-30px);
        }

        #section-user button{
            padding: 3vh;
            border: 5px;
            border-radius: 5px;
            background-color: rgb(19, 36, 36);
            margin: 5px;
            width: 75%;
            color: white;
            font-weight: 700;    
            white-space: nowrap;       
        }

        #section-user button:active{
            background-color: rgb(40, 102, 102);
            color: rgb(19, 36, 36);
        }          

    #div-range-bet {
        width: 100%;
        display: flex;
        padding: 0 10px;
        transform: translateY(calc(-15px + 0vh));
    }

        #div-range-bet #input-value-bet {
            width: 35%;
            font-size: 3vh;
            margin: 0 10px;
            padding: 5px;
            background-color: #132424;
            color: white;
        }

        #div-range-bet #input-range-bet {
            flex: 1 1 90%;
            margin: 0 10px;
        }



    #div-userhand {
        transform: translateY(-50%);
        margin-right: 2vw;
    }

    #div-usercards {
        display: flex;
        justify-content: center;
    }

        #div-usercards > span {
            display: inline-block;
            border: solid 3px rgb(145, 198, 231);
            border-radius: 5px;
            padding: 15px;
            height: calc(70px + 4vw);
            width: calc(55px + 3vw);
            color: rgb(0, 0, 0);
            font-size: calc(17px + 1vw);
            text-align: center;
            font-weight: 700;
            margin: 3px;
    
        }
    
            #div-usercards > span:nth-child(even) {
                background-color: rgb(218, 241, 255);
            }
        
            #div-usercards> span:nth-child(odd) {
                background-color: rgb(249, 253, 255);
            }    

    #div-username {
        text-align: center;
        font-weight: 700;
        color: white;
        font-size: calc(10px + 1vw);
        text-shadow: 1px 1px black;
        transform: translateY(calc(-47px + 9vh));
    }

    @media (max-width: 768px) {
        
        
    
    
    
    }