/* Général */ 

:root {
    --color-j1: rgb(32, 119, 219);
    --color-j2: rgb(221, 49, 49);
    --color-j3: rgb(51, 196, 87);
    --color-j4: rgb(229, 240, 81);
}

body {
    background-color: rgb(23, 128, 37);
    background-image: url(../img/fond-poker.jpg);
}

/* body > div {
    margin: 15px 0;
} */

header {
    background-color: brown;
    border-bottom: solid 5px white;
    font-family: 'Carter One', cursive;
    color : white;
}

h1 {
    padding: 15px;
    display: inline-block;
}

.container {
    width: 90vw;
    margin : auto;
}

.hidden {
    display: none !important;
}

/* Cartes Deck */ 

.deck-container {
    padding: 15px;
    border: solid 2px white;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

    .deck-container>div {
        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
        font-weight: 700;
        color : white;
    }

.deck-container span{
    display: inline-block;
    padding: 5px;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid rgba(255, 255, 255, 0.33);
}

    .deck-container span:nth-child(even) {
        background-color: red;
    }

    .deck-container span:nth-child(odd) {
        background-color: black;
    }

    .deck-container span.zero {
        background-color: rgb(31, 126, 13);
    }

#button-deck {
    padding: 10px;
    background-color: brown;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 15px auto;
    font-family: 'Carter One', cursive;
}

/* Flex */

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cartes CSS */

.cartes > span{
    display: inline-block;
    border: solid 3px rgb(145, 198, 231);
    border-radius: 5px;
    padding: 15px;
    height: 90px;
    width: 70px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin: 3px;
}

    .cartes > span:nth-child(even) {
        background-color: rgb(218, 241, 255);
    }

    .cartes > span:nth-child(odd) {
        background-color: rgb(249, 253, 255);
    }    



.cartes span.coeur i {
    color: rgb(187, 14, 14);
}

.cartes span.carreau i {
    color: rgb(204, 169, 13);
}

.cartes span.pique i {
    color: rgb(4, 110, 172);
}

.cartes span.trefle i {
    color: rgb(13, 175, 34);
}

.cartes > span > span {
    font-size: 10px;
    color: rgb(81, 141, 179);

}

/* Containers */

.cartes-communes {
    margin: 50px 0 ;
    padding: 30px;
    border : solid 2px white;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

    .cartes-communes > div {

        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
        font-weight: 700;
        color : white;

    }

.mains-container {
    margin-bottom: 20px;

}
    .mains-container > div > div {

        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
        font-weight: 700;
    }

    .mains-container > div:nth-child(1) > div {
        color : var(--color-j1)
    }

    .mains-container > div:nth-child(2) > div {
        color : var(--color-j2)
    }

    .mains-container > div:nth-child(3) > div {
        color : var(--color-j3)
    }

    .mains-container > div:nth-child(4) > div {
        color : var(--color-j4)
    }

.resultat-container {
    height: 100px;
}

.main-j1-container {
    border : solid 2px var(--color-j1);
    padding : 30px;
    flex-shrink: 0;
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
}

.main-j2-container {
    border : solid 2px var(--color-j2);
    padding : 30px;
    flex-shrink: 0;
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
}

.main-j3-container {
    border : solid 2px var(--color-j3);
    padding : 30px;
    flex-shrink: 0;
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
}

.main-j4-container {
    border : solid 2px var(--color-j4);
    padding : 30px;
    flex-shrink: 0;
    margin: 10px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
}

/* Scores */

.score-container > div {
    font-weight: 700;
    padding: 15px;
    border: 3px solid rgba(255, 255, 255, 0.555);
    border-radius: 3px;
    color: white;
    text-shadow: black 1px 1px 2px ;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

    .score-container > div > span {
        position: absolute;
        z-index: 1;
        right : 0;
        bottom: 0;
        padding: 5px;
    }

    .score-container > div:nth-child(1) {
        background-color: var(--color-j1);
    }
    .score-container > div:nth-child(2) {
        background-color: var(--color-j2);
    }
    .score-container > div:nth-child(3) {
        background-color: var(--color-j3);
    }
    .score-container > div:nth-child(4) {
        background-color: var(--color-j4);
    }

    .resultat-container > div {
        font-weight: 700;
        padding: 15px;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
    }
